/* HideShowText.css */

.hide-show-text {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
.slide-down {
    opacity: 1;
    visibility: visible;
  }
  